---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #003962;
  background-image: linear-gradient(120deg, #003962, #7b91ad);
}

a {
  color: #7b91ad;
}

.main-content h1, .main-content h2, .main-content h3,
.main-content h4, .main-content h5, .main-content h6 {
  color: #003962;
}
