---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #003962;
  background-image: linear-gradient(120deg, #003962, #7b91ad);
}

a {
  color: #0e5f8e;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: #003962;
  }
}
